*{
    box-sizing: border-box;
}

body {
    background-image: url("../images/backgroundWater.png");
    background-size: 100vw;
    overflow-x: hidden;
}

header{
    color: #023356;
    text-align: center;
}

#buttonTrayDiv{
    text-align: center;
    position: relative;
}

#krakenDiv{
    position: fixed;
    text-align: center;
    bottom: 0;
    z-index: 0;
}

#currentWordDiv, #tentacleLettersDiv{
    background-color: white;
    font-size: 1.5em;
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 1em 0.5em 0.5em;
    padding: 0em 0.5em;
    border: solid 3px #023356;
    border-radius: 5px;
}

#tentacleLettersDiv{
    background-color: rgba(255, 255, 255, 0.85);
    margin-top: 0.5em;
}

.wordbox{
    display: none;
    position: relative;
    z-index: 2;
}

.custom_messagebox_overlay{
    z-index: 3;
    position: relative;
}

@media screen and (max-width: 767px){
    h1{
        font-size: 1.1em;
    }
}
